.btn {
  border-radius: 4px;
  text-transform: uppercase;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 17px;
}
@media (max-width: 900px) {
  .btn-group-lg>.btn, .btn-lg { font-size: 15px; }
}

.btn > .glyphicon:not(.glyphicon-ok):not(.glyphicon-remove):not(.glyphicon-ban-circle) {
  margin-right: 15px;
}

.btn-group-xs>.btn-default {
  background-color: transparent;
  border-color: transparent;
}

.btn-group-xs>.btn-default > .glyphicon {
  margin-right: 0;
}

.btn-link { color: #5b6a6b; }
.btn-link:hover { color: #485252; }
.btn-link:hover, .btn-link:focus { text-decoration: none; }

#rich-editor-button {
  margin-right: .7em;
}

[data-target="#markdown_modal"] .glyphicon {
    top:4px;
}



.edit-username-left { display: none; }