.form-control {
  background-color: #f7f7f7;
  border-radius: 3px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #afb6b6;
}

form h3 {
  margin-bottom: 20px;
}

#days_container {
  margin: 30px 0;
}

.input-group {
  margin-bottom: 15px;
}

#copyhours, #remove-a-day, #add-a-day, a[data-target="#add_days"], #add-a-choice, #remove-a-choice{
  background-color: white;
  border-color: #d2cdcd;
  transition: none;

}
#copyhours:hover, #remove-a-day:hover, #add-a-day:hover, a[data-target="#add_days"]:hover { background-color: #f7f7f7; border-color: #d2cdcd; }

#copyhours .glyphicon, #remove-a-day .glyphicon, #add-a-day .glyphicon, #add_days .glyphicon, #remove-a-choice .glyphicon, #add-a-choice .glyphicon { margin: 0 2px }

#password_options { margin-top: 45px; }

#selected-days .alert-info { text-align: justify; }

#days_container .col-sm-11, #days_container .col-sm-2 { padding-left: 0; }

button.remove-day {
  float: right;
  padding-right: 0;
  margin-right: -15px;
}
button.remove-day .glyphicon { color: #de769d; }

#selected-days legend input:hover, #selected-days legend input:focus { background-color: transparent; border-bottom-width: 0; }
#selected-days legend input
{
  color: #5b6a6b;
  font-size: 20px;
}
a[data-target="#add_days"] .glyphicon { margin: 0; }

#days_container + .col-md-4, #days_container + .col-md-8{ padding: 0; }

.dropdown-toggle .caret {
  margin-left: 4px;
  margin-top: -5px;
}
.btn-default.dropdown-toggle .glyphicon { display:none; }

.dropdown-menu {
  background-color: #ffffff;
  opacity: 1;
}

.dropdown-menu>li>a {
  text-transform: none;
  padding: 5px 20;
  font-size: 14px;
  padding: 5px 20px;
  color: #5b6a6b;
  transition: none;
}
.dropdown-menu>li>a:hover {
  color: #5b6a6b;
  background-color: #f7f7f7;
}

.datepicker.dropdown-menu {
  color: inherit;
  font-family: inherit;
}
.alert-info .glyphicon-minus { margin: 0 5px; }

/* STEP 3 */

.well.summary {
  box-shadow: none;
  border: none;
  padding: 0;
  color: #5b6a6b;
  background-color: white;
  padding-bottom: 15px;
  border-bottom: 5px solid #eeeded;
}

.well.summary h4 { margin-bottom: 30px !important; }

.well.summary ol, .well.summary ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 11px;
  list-style-type: none;
  font-weight: normal;
}
.well.summary ul li, .well.summary ol li { text-transform: capitalize; line-height: 25px;}
.summary img {
  margin-bottom: 10px;
}
.well.summary + .alert-info {
    text-align: center;
    margin-bottom: 0px;
}
.well.summary + .alert-info .form-group {
  margin-top: 20px;
  margin-bottom: 0;
}

.well.summary + .alert-info + .alert-warning {
  color: #5b6a6b;
  background-color: #ffffff;
  border-color: white;
  font-style: italic;
  padding: 0;
  text-align: justify;
  margin-bottom: 30px;
}

form > .row > .col-md-8.col-md-offset-2 {
  width: 100%;
  margin-left: 0;
}

/* ADMIN */
#title-form h3 .btn-edit, #email-form .btn-edit, #description-form .btn-edit, #poll-rules-form .btn-edit, #poll-hidden-form .btn-edit, #expiration-form .btn-edit, #password-form .btn-edit, #name-form .btn-edit {
  color: #5b6a6b;
  font-size: 13px;
  margin-top: -7px;
}

#poll-hidden-form>p>.glyphicon, #password-form>p>.glyphicon, #poll-rules-form>p>.glyphicon {
  margin-right: 10px;
}

#expiration-form > label { margin-bottom: 18px; }

input + .input-group-btn > button:first-child {
  border-radius: 0 3px 3px 0 !important;
}
input + .input-group-btn > button:first-child:hover { z-index: 1; }

.dropdown-toggle.btn-danger {
  border-color: #de769d !important;
  background-color: #de769d !important;
  box-shadow: none !important;
  margin-left: 10px !important;
  padding: 5px 10px !important;
}
.dropdown-toggle.btn-danger > .glyphicon { margin-right: 3px !important; }
.dropdown-toggle.btn-danger + .dropdown-menu {
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.1);
}

.dropdown-toggle.btn-danger + .dropdown-menu > li > button {
  text-transform: capitalize;
  font-size: 15px;
  padding: 5px 20px;
}
.dropdown-toggle.btn-danger + .dropdown-menu .divider {
  margin: 5px 0;
  background-color: rgba(0,0,0,.1);
}

#resultsPubliclyVisible, #hidden {
  vertical-align: middle;
}
label[for=resultsPubliclyVisible], label[for=hidden], label[for=removePassword] {
  margin-left: 10px;
  margin-bottom: -7px;
  vertical-align: middle;
}

.alert-info .form-group label {
  line-height: 35px;
  color: #5b6a6b;
}

.alert-info .form-group:last-child {
  margin-top: 120px;
  padding-right: 15px;
}

button[name=delete_comment] {
  padding-top: 2px;
  padding-left: 0;
}
button[name=delete_comment] .glyphicon { color: #de769d; }


/* CLASSIC POLL */

.choice-field { padding-right: 15px; }
.choice-field .md-a-img { cursor: pointer; }

.plus-minus-choice {
  padding:0;
}
.back-save-btn { padding: 0; }

#md-a-imgModal label .glyphicon { margin-right: 10px; }

#remove-a-choice { margin-right: 5px; }

.form-horizontal .control-label[for="enddate"] {
    padding-top: 0;
}
