@font-face {
    font-family: 'ubunturegular';
    src: url('../../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
        url('../../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistlight';
    src: url('../../fonts/geomanist/geomanist-light-webfont.eot');
    src: url('../../fonts/geomanist/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/geomanist/geomanist-light-webfont.woff2') format('woff2'),
        url('../../fonts/geomanist/geomanist-light-webfont.woff') format('woff'),
        url('../../fonts/geomanist/geomanist-light-webfont.ttf') format('truetype'),
        url('../../fonts/geomanist/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbook';
    src: url('../../fonts/geomanist/geomanist-book-webfont.eot');
    src: url('../../fonts/geomanist/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
        url('../../fonts/geomanist/geomanist-book-webfont.woff') format('woff'),
        url('../../fonts/geomanist/geomanist-book-webfont.ttf') format('truetype'),
        url('../../fonts/geomanist/geomanist-book-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistmedium';
    src: url('../../fonts/geomanist/geomanist-medium-webfont.eot');
    src: url('../../fonts/geomanist/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
        url('../../fonts/geomanist/geomanist-medium-webfont.woff') format('woff'),
        url('../../fonts/geomanist/geomanist-medium-webfont.ttf') format('truetype'),
        url('../../fonts/geomanist/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbold';
    src: url('../../fonts/geomanist/geomanist-bold-webfont.eot');
    src: url('../../fonts/geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
        url('../../fonts/geomanist/geomanist-bold-webfont.woff') format('woff'),
        url('../../fonts/geomanist/geomanist-bold-webfont.ttf') format('truetype'),
        url('../../fonts/geomanist/geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #fff;
    color: #5b6a6b;
    font-size: 15px;
    font-family: ubunturegular;
}

h1, h2, h3 {
    font-family: 'geomanistmedium';
}

#archipel {
    background: #5b6a6b;
}

#archipel .islands__list__item a:hover,
#archipel .islands__list__item a:focus {
    color: #64d29b;
    text-decoration: none;
}

.logo {
    width: 400px;
}

header .lead {
    text-transform: none;
}

hr {
    border-top: 5px solid #eee;
}

h3,
.well.summary h4,
#add-comment legend {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    width: auto;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

h3:after,
.well.summary h4:after,
#add-comment legend:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    display: block;
    bottom: -8px;
    right: 1px;
    border-bottom: 4px solid #64d29b;
}

main>h3::after {
    right: 32px;
}

.modal-header .close {
    opacity: .4;
    margin-top: 5px;
    margin-right: 2px;
}

.modal .alert-info {
    text-align: left;
    padding-bottom: 0;
}

.container .jumbotron {
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 5px solid #eeeded;
    background-color: white;
}


.jumbotron .well {
    background-color: white;
    border: none;
    box-shadow: none;
    color: #5b6a6b;
    border-radius: 4px;
    word-break: break-all;
    padding: 7px 0;
}

.jumbotron h3:after {
    display: none;
}

.jumbotron h3 {
    text-transform: none;
    font-size: 25px;
}

#title-form h3 {
    color: #de769d;
    line-height: 35px;
}

.admin-link,
.public-link,
.admin-link:hover,
.public-link:hover {
    color: inherit;
}

.public-link .btn-link,
.admin-link .btn-link {
    display: none;
}

#public-link,
#admin-link {
    background-color: #f9f9f9;
    font-size: 15px;
    margin-top: 5px;
    color: inherit;
    margin-left: -2px;
}

.jumbotron .hidden-print .btn-default {
    font-size: 14px;
    margin-left: 10px;
    background-color: white;
    color: #5b6a6b;
    border-color: white;
}

a[data-target="#hint_modal"] {
    color: #a1afb1;
    font-size: 20px;
}

a[data-target="#hint_modal"]>i {
    top: 3px;
}

/* COMMENTS*/
#comments_list .comment {
    margin: 0;
    margin-top: 15px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-left-color: #64d29b;
    border-radius: 3px;
    background-color: #f7f7f7;
    padding: 20px 20px;
}

#comments_list .comment .comment_date {
    font-size: 14px;
    letter-spacing: 0;
    float: right;
}

#comments_list .comment>span:last-child {
    width: 100%;
    display: block;
    text-align: justify;
    margin-top: 10px;
}

#comments_list {
    margin-bottom: 30px;
}

#comments_list h3 {
    margin-top: 10px;
}

#add-comment legend {
    border: none;
    color: inherit;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

#add-comment input[type=submit] {
    margin-top: 20px;
    width: 100%;
    display: block;
}

#add-comment .pull-right {
    float: none !important;
}

#comment_form .jumbotron {
    border: none;
}

#comment_form .jumbotron>div {
    margin-left: 0;
    width: 100%;
    padding: 0;
}

#showChart {
    margin-top: 20px;
    margin-bottom: 5px;
}

#showChart .btn-lg {
    font-size: 14px;
    color: #5a696a;
    background-color: #ffffff;
    border-color: #5b6a6b;
    padding: 8px 20px;
}

#showChart .fa-bar-chart {
    display: none;
}

script+.row>.col-sm-12 {
    display: none;
}

script+.row>.alert-info {
    text-align: center;
    line-height: 1.8;
    margin: 0;
    width: 100%;
    background-color: white;
    border-color: white;
    color: #64d29b;
    font-weight: bold;
}

script+.row>.alert-info ul {
    padding: 0;
    color: #5b6a6b;
}

script+.row>.alert-info .glyphicon-star {
    display: none;
}

#Chart {
    padding-right: 0;
    margin-left: -50px;
    margin-top: 30px;
}

/* HOME */

@media (min-width: 700px) {

    .col-xs-12.col-md-5.text-center,
    .col-xs-12.col-md-offset-1.col-md-5.text-center {
        width: 50%;
        margin: 0;
    }
}

@media (min-width: 1200px) {

    .col-xs-12.col-md-5.text-center .btn-lg,
    .col-xs-12.col-md-offset-1.col-md-5.text-center .btn-lg {
        margin: 0 60px;
        width: auto;
    }
}

.home-choice {
    margin-bottom: 0;
}

.col-xs-12.col-md-5.col-md-offset-3.text-center {
    width: 100%;
    margin-top: 30px;
}

.col-md-10.col-md-offset-1 {
    width: 100%;
    margin: 0;
}

.jumbotron {
    margin-top: -10px;
}

.col-md-10.col-md-offset-1>h3 {
    margin-top: 0;
}

.input-group.input-group-sm.pull-right.col-xs-6.col-sm-4 {
    margin-top: 13px;
}

.input-group.input-group-sm.pull-right.col-xs-6.col-sm-4 .btn-sm {
    border-radius: 0 3px 3px 0 !important;
    margin-left: 0;
}

/* Mobile */
@media (max-width: 600px) {
    .container {
        padding: 10px;
        padding-bottom: 30px;
    }

    h1.row.col-xs-6.col-sm-8 {
        width: 65%;
        padding-right: 0;
    }

    h1.row.col-xs-6.col-sm-8 img {
        width: 100%;
    }

    .input-group.input-group-sm.pull-right.col-xs-6.col-sm-4 {
        width: 35%;
        margin-top: 5px;
    }

    .input-group.input-group-sm.pull-right.col-xs-6.col-sm-4 .form-control {
        padding: 4px;
    }

    .input-group.input-group-sm.pull-right.col-xs-6.col-sm-4 .btn-sm {
        font-size: 12px;
    }

    #archipel-colibris {
        display: none;
    }

    .lead.visible-xs-inline {
        margin-left: -10px;
        margin-right: 5px;
    }

    main {
        margin-top: 0;
    }

    #selected-days .col-md-10.col-md-offset-1>h3 {
        margin-top: 15px;
    }

    h2 {
        padding-top: 0;
    }

    h3,
    .well.summary h4,
    #add-comment legend {
        font-size: 17px;
    }

    #days_container {
        margin: 0 !important;
    }

    #days_container .col-sm-2 {
        margin-bottom: 10px;
        padding-right: 0;
    }

    #days_container~.col-md-8.text-right {
        text-align: left;
        padding: 0;
        margin-top: 20px;
    }

    .well.summary {
        margin: 15px 0;
    }

    .alert {
        text-align: justify !important;
    }

    .alert.alert-warning+.text-right>.btn {
        width: 100%;
    }

    #title-form {
        margin-top: 12px;
        padding-right: 70px;
    }

    #title-form+.col-md-5 .btn-default {
        display: none;
    }

    #title-form+.col-md-5 {
        position: absolute;
        top: 15px;
        right: -15px;
    }

    main>h3 {
        margin-top: 8px;
    }

    .row.scroll-buttons {
        float: right;
        margin-top: 5px;
    }

    .jumbotron {
        position: relative;
        margin-top: 0;
        margin-bottom: 10px !important;
    }

    /* public link*/
    .jumbotron:not(.bg-danger) .col-md-6.form-group {
        display: none;
    }

    .comment {
        padding: 10px !important;
    }

    button[name=delete_comment] {
        width: auto !important;
        margin-top: initial !important;
    }

    #tableContainer {
        overflow-x: scroll;
    }

    #tableContainer+.row {
        display: none;
    }

    script+.row {
        display: none;
    }

    #message-container>.alert {
        margin-top: 15px;
        margin-bottom: 0;
    }

    button[name=gotostep2],
    button[name=choixheures],
    button[name=confirmation],
    .back-save-btn>.btn {
        width: 100%;
        margin-top: 20px;
    }

    body {
        overflow-x: hidden;
    }

    .input-group[class*=col-] {
        float: none;
        padding-left: 15px;
        padding-right: 0;
    }

    #remove-a-choice {
        margin-right: 15px;
    }
}

.lead {
    font-size: 18px;
}

.opacity:hover {
    text-decoration: none;
}

#description-form .js-desc .btn-group > .btn {
    margin-bottom: 0;
}
#newdescription {
    margin-top: 10px;
}

@media (min-width: 600px) {
    .classic-poll-step-2 .button-add-remove { padding: 0; }
}

@media (min-width: 600px) and (max-width:765px) {
    .choice-label { padding: 0; }
}

@media (max-width: 765px) {    
    .classic-poll-step-2 .button-add-remove { float: left; }
}


