#tableContainer {
  margin-top: 20px;
}

table.results th.bg-primary.month, table.results th.day { 
  text-align: center;    
  border: 1px solid white;
  background-color: #a1aeb1; 
}

table.results th { 
  font-size: 14px; 
  padding: 5px 15px;
}
table.results thead th { 
  font-size: 14px;
  padding: 5px 15px;
  max-width: 120px;
}

#tableContainer .bg-info {
  background-color: #f7f7f7;
}

#tableContainer tr.hidden-print .bg-info {  background-color: white; }

tr.hidden-print .btn-default {
  background-color: #FFF;
  border-color: #ccc;
}

tr.hidden-print .btn-default.active, tr.hidden-print .btn-default.focus, tr.hidden-print .btn-default:active, tr.hidden-print .btn-default:focus, tr.hidden-print .btn-default:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}

tr.hidden-print .btn-default .glyphicon { margin: 0; }

.yes .btn, .yes .btn:hover { 
  color: #64d29b; 
  padding-top: 2px;
  padding-bottom: 0;
}
.ifneedbe .btn, .ifneedbe .btn:hover { 
  color: #d2a565; 
  border-radius: 0 !important;
  border-bottom: none;
  padding: 2px 0;
}
.no .btn, .no .btn:hover, .no .btn.startunchecked { 
  color: #de769d !important; 
  padding-top: 3px;
  padding-bottom: 0;
}

#tableContainer .text-success { color: #51b985; }
#tableContainer .bg-success { background-color: #d2f3e4; }

#tableContainer .text-warning { color: #d2a565; }
#tableContainer .bg-warning { background-color: #FCF3E3; }

#tableContainer .text-danger { color: #de769d; }
#tableContainer .bg-danger { background-color: #f4d6e1; }

table.results > tbody > tr.hidden-print:hover > td, table.results > tbody > tr.hidden-print:hover > th {
  opacity: 1 !important;
}
tr.hidden-print .yes input[type="radio"]:checked + label {
  background-color: #64d29b;
  border-color: #64d29b;
  box-shadow: none;
}
tr.hidden-print .ifneedbe input[type="radio"]:checked + label {
  background-color: #d2a565;
  border-color: #d2a565;
  box-shadow: none;
}
tr.hidden-print .no input[type="radio"]:checked + label {
  background-color: #de769d;
  border-color: #de769d;
  color: white !important;
  box-shadow: none;
}
tr.hidden-print .input-group {
  margin-bottom: 0;
}

#vote-form td ul, #vote-form td label {
  font-size: 14px;
}

.choice input:focus + label { outline: none; }

table.results tbody th.bg-info {
  text-align: right;
  background-color: white !important;
}

tr.hidden-print .input-group-addon {
    background-color: #de769d;
    color: white;
}


tr.hidden-print td:last-child {     
  padding: 0;
  padding-left: 15px; 
}

/*edit buton*/
table.results tbody td.hidden-print { text-align: left; padding-left: 15px; }
table.results tbody td.hidden-print .btn-default {
  background-color: white;
  border-color: white;
  color: #5b6a6b;
}

table.results thead tr:last-child th.bg-info {
  background-color: #64d29b !important;
  color: white;
  border-right: 1px dotted white;
  border-left: 1px dotted white;
}

#tableContainer + .row > .col-xs-12 {
  border-top: 5px solid #eeeded;
  margin-top: 30px;
  padding-top: 10px;
}